{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ajoutez votre photo de profil !</h2>

    {{ form(pictureForm) }}

{% endblock %}

{% block title %}
    Photo de profil | {{ parent() }}
{% endblock %}

