{% extends 'base.html.twig' %}

{% block body %}
    <h2>Lovenest</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolorum facere inventore itaque laboriosam molestias nesciunt obcaecati sequi totam vel! A cupiditate dicta impedit maxime recusandae? Ab necessitatibus quo quod.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolorum facere inventore itaque laboriosam molestias nesciunt obcaecati sequi totam vel! A cupiditate dicta impedit maxime recusandae? Ab necessitatibus quo quod.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolorum facere inventore itaque laboriosam molestias nesciunt obcaecati sequi totam vel! A cupiditate dicta impedit maxime recusandae? Ab necessitatibus quo quod.</p>
{% endblock %}

{% block title %}
{{ parent() }} | Accueil
{% endblock %}

