html {
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.purple-bg {
    background-color: #1F125E;
    color: #FFFFFF;
}

.navbar a,
.purple-bg a {
    color: #F969B9;
}

.navbar a:hover,
.purple-bg a:hover {
    background-color: transparent;
    color: #FFFFFF;
}

.navbar {
    background-color: transparent;
}

.navbar-menu {
    background-color: #1F125E;
}

footer {
    padding: 30px 0;
    margin-bottom: 0;
}

a.gender-f {
    background-color: rgba(249, 105, 185, 0.2);
}

a.gender-m {
    background-color: rgba(50, 115, 220, 0.2);
}

a.gender-o {
    background-color: rgba(220, 197, 50, 0.2);
}